/* line 5, ../sass/oa_sitemap_app.scss */
body.oa-sitemap-full {
  background: #E5EBE6;
}
/* line 7, ../sass/oa_sitemap_app.scss */
body.oa-sitemap-full #main-wrapper {
  background: #E5EBE6;
}
/* line 9, ../sass/oa_sitemap_app.scss */
body.oa-sitemap-full #main-wrapper #main {
  background: #E5EBE6;
}

/* line 15, ../sass/oa_sitemap_app.scss */
.pane-oa-sitemap-app,
.content .radix-layouts-content .panel-pane.pane-oa-sitemap-app {
  padding-bottom: 2em;
}

/* line 20, ../sass/oa_sitemap_app.scss */
.oa-sitemap {
  margin-top: 20px;
  /***** Add styles for front page design with help test *******/
}
/* line 33, ../sass/oa_sitemap_app.scss */
.oa-sitemap [ng-drag].dragging {
  opacity: 0.5;
}
/* line 38, ../sass/oa_sitemap_app.scss */
.oa-sitemap [ng-drop].drag-enter {
  background: #42BB3D;
  opacity: 0.7;
}
/* line 42, ../sass/oa_sitemap_app.scss */
.oa-sitemap [ng-drop].oa-section-title.drag-enter {
  background: transparent;
  opacity: 1;
}
/* line 46, ../sass/oa_sitemap_app.scss */
.oa-sitemap [ng-drop].drag-enter .oa-section-icon {
  background: #42BB3D;
  opacity: 0.7;
}
/* line 51, ../sass/oa_sitemap_app.scss */
.oa-sitemap textarea {
  width: 100%;
  height: 124px;
}
/* line 57, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-title h2 {
  margin: 3px 20px 0 0;
}
/* line 62, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-header {
  margin-bottom: 5px;
}
/* line 64, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-header a {
  position: relative;
  display: block;
  z-index: 5;
  margin-right: 10px;
}
/* line 72, ../sass/oa_sitemap_app.scss */
.oa-sitemap a.btn-none {
  padding: 8px 16px;
  font-size: 12px;
  text-decoration: underline;
  color: #777;
}
/* line 79, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-search {
  z-index: 5;
}
/* line 81, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-search .active {
  background: #095a8b;
  color: white;
}
/* line 87, ../sass/oa_sitemap_app.scss */
.oa-sitemap .select2-container.form-control {
  background-color: transparent;
}
/* line 91, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-full {
  margin-top: 10px;
}
/* line 95, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumbs {
  display: block;
  text-align: center;
  margin: 0;
}
/* line 101, ../sass/oa_sitemap_app.scss */
.oa-sitemap #oa-sitemap-top {
  background: #f3f3f3;
  position: relative;
}
/* line 106, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumb a {
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.5);
}
/* line 111, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-breadcrumb a:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background: #aaa;
  left: 50%;
  bottom: -22px;
}
/* line 122, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-carousel-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.5);
}
/* line 129, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-spaces {
  position: relative;
  text-align: center;
  height: auto;
  overflow: visible;
}
/* line 135, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header {
  position: relative;
  margin: 0 0 20px;
  text-align: center;
  border-bottom: 1px solid #aaa;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 8px 0;
}
/* line 145, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .dropdown > a, .oa-sitemap .oa-space-header .dropdown > a:visited, .oa-sitemap .oa-space-header .dropdown > a:active {
  color: white;
}
/* line 149, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header button {
  font-weight: 300;
  font-size: 18px;
  position: absolute;
  border: none;
  background: none;
  color: white;
  line-height: 34px;
  padding: 0;
}
/* line 158, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header button:hover {
  outline: none;
  color: #333;
}
/* line 162, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header button:active, .oa-sitemap .oa-space-header button:visited, .oa-sitemap .oa-space-header button:focus {
  color: white;
}
/* line 166, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header a [class^="icon-"] {
  font-size: 22px;
  color: #CCC;
}
/* line 170, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .next {
  right: 30px;
}
/* line 172, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .next:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 8px;
  border-left: 12px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* line 182, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .prev {
  left: 30px;
}
/* line 184, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-header .prev:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 8px;
  border-right: 12px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* line 195, ../sass/oa_sitemap_app.scss */
.oa-sitemap .dropdown {
  display: inline-block;
}
/* line 198, ../sass/oa_sitemap_app.scss */
.oa-sitemap .dropdown-menu {
  z-index: 10;
}
/* line 200, ../sass/oa_sitemap_app.scss */
.oa-sitemap .dropdown-menu > li > a {
  padding: 0 20px;
  color: #333;
}
/* line 203, ../sass/oa_sitemap_app.scss */
.oa-sitemap .dropdown-menu > li > a:hover {
  color: white;
}
/* line 208, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-title {
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
}
/* line 212, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-space-title:hover, .oa-sitemap .oa-space-title.open:hover, .oa-sitemap .oa-space-title:active, .oa-sitemap .oa-space-title.open:active, .oa-sitemap .oa-space-title:focus, .oa-sitemap .oa-space-title.open:focus {
  text-decoration: none;
}
/* line 217, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sections {
  text-align: center;
}
/* line 220, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section {
  width: 110px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
/* line 227, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-title {
  font-weight: normal;
}
/* line 229, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-title.dropdown {
  display: block;
}
/* line 232, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-title textarea {
  width: 100%;
  height: 60px;
}
/* line 236, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-title .oa-rename-actions {
  font-size: 14px;
}
/* line 240, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-link {
  font-size: 16px;
  overflow: hidden;
  display: block;
}
/* line 245, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon {
  display: block;
  margin: 0 20px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #e7e7e7;
  background: white;
  box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.5);
}
/* line 254, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon:hover {
  background: #ddd;
}
/* line 257, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon img {
  width: 36.66667px;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 263, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-section-icon i {
  display: block;
  position: relative;
  font-size: 32px;
  top: 50%;
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}
/* line 271, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-new-section .oa-section-icon {
  border: 1px dashed #aaa;
  color: #3b3b3b;
}
/* line 274, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-new-section .oa-section-icon:hover {
  background-color: #ddd;
}
/* line 279, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace {
  position: relative;
  border: 1px solid #e7e7e7;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
  width: 154px;
  height: 154px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.5);
}
/* line 290, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace.oa-new-subspace {
  border: 1px dashed #aaa;
}
/* line 292, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace.oa-new-subspace i {
  margin-bottom: 5px;
}
/* line 298, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-title {
  margin: 0;
  text-align: center;
  font-weight: normal;
  position: relative;
  height: 100%;
}
/* line 306, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link {
  display: block;
  height: 100%;
  cursor: pointer;
  background: white;
  font-size: 20px;
  padding: 4px;
}
/* line 313, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link:hover {
  text-decoration: none;
  background: #ddd;
}
/* line 317, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link span {
  display: block;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 323, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-link i {
  display: block;
  color: #3B3B3B;
}
/* line 328, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  z-index: 4;
}
/* line 335, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icons a {
  color: #999;
}
/* line 337, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icons a:hover {
  color: #0071B3;
  text-decoration: none;
}
/* line 343, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-top {
  position: absolute;
  left: 1px;
  top: 1px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  z-index: 2;
}
/* line 354, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-top.oa-icon-green {
  border-left: 15px solid rgba(90, 180, 57, 0.8);
  border-top: 15px solid rgba(90, 180, 57, 0.8);
}
/* line 358, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-top.oa-icon-red {
  border-left: 15px solid rgba(179, 80, 83, 0.8);
  border-top: 15px solid rgba(179, 80, 83, 0.8);
}
/* line 362, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-top > a {
  position: absolute;
  top: -15px;
  left: -12px;
  font-size: 12px;
}
/* line 367, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-top > a > i {
  color: white !important;
}
/* line 372, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-left {
  float: left;
  width: 33%;
}
/* line 376, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-center {
  float: left;
  width: 33%;
}
/* line 380, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-subspace-icon-right {
  float: right;
  width: 33%;
}
/* line 384, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-icon-green {
  color: #5ab439;
}
/* line 387, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-icon-red {
  color: #b35053;
}
/* line 390, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-border-green {
  border-color: #5ab439;
}
/* line 393, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-border-red {
  border-color: #b35053;
}
/* line 398, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-help {
  position: relative;
  margin-bottom: 20px;
}
/* line 401, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-help > div {
  background: #f0f0f0;
  color: #666;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-shadow: 2px 2px 6px -2px rgba(0, 0, 0, 0.5);
  min-height: 95px;
}
/* line 412, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-help strong {
  font-weight: 600;
}
/* line 415, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-help img.oa-sitemap-helpimage {
  position: absolute;
  height: 150px;
  bottom: 15px;
  right: -10px;
}
/* line 421, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-help img.oa-sitemap-helpicon {
  margin-right: 20px;
  width: 60px;
}
/* line 425, ../sass/oa_sitemap_app.scss */
.oa-sitemap .oa-sitemap-help .oa-sitemap-caret {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 22px;
  background: transparent;
  margin-top: -7px;
}

/* Mobile settings */
@media only screen and (max-width: 767px) {
  /* line 439, ../sass/oa_sitemap_app.scss */
  .oa-sitemap .oa-sitemap-help {
    position: relative;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  /* line 443, ../sass/oa_sitemap_app.scss */
  .oa-sitemap .oa-sitemap-help img {
    display: none;
  }
  /* line 447, ../sass/oa_sitemap_app.scss */
  .oa-sitemap .oa-sitemap-help > div {
    padding-right: 20px;
  }
}
