body,
body.overlay {
  color: @text;
}
.comment .comment-arrow {
  border-color: @bg;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: @bg;
}
.tabs ul.primary li a.active {
  background-color: @bg;
}
.tabs ul.primary li.active a {
  background-color: @bg;
  border-bottom: 1px solid @bg;
}
.form-actions {
  background-color: @bg;
}
#header,
.navbar-inner,
.navbar-inner .panel-panel,
.navbar-inverse .navbar-inner {
background-color: @bottom;
background-image: -moz-linear-gradient(top, @top, @bottom);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@top), to(@bottom));
background-image: -webkit-linear-gradient(top, @top, @bottom);
background-image: -o-linear-gradient(top, @top, @bottom);
background-image: linear-gradient(to bottom, @top, @bottom);
border: none;
box-shadow: none;
color: @titleslogan;
}
.navbar-inner .btn,
.navbar-inverse .btn.btn-inverse,
.btn-group > .btn .dropdown-toggle,
#oa-user-badge .user-badge {
background-color: @toolbarbtn;
background-image: -moz-linear-gradient(top, @bottom, @toolbarbtn);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@bottom), to(@toolbarbtn));
background-image: -webkit-linear-gradient(top, @bottom, @toolbarbtn);
background-image: -o-linear-gradient(top, @bottom, @toolbarbtn);
background-image: linear-gradient(to bottom, @bottom, @toolbarbtn);
box-shadow: none;
border-color: @toolbarborder;
color: @toolbartext;
}
.oa-space-menu .navbar-inner {
  background-image: none;
  background-color: @menubg;
  color: @menutext;
}
.navbar .oa-space-menu .nav li > a {
  color: @menutext;
}
.navbar-inverse ul#oa_breadcrumb .btn.btn-inverse,
.navbar-inner ul#oa_breadcrumb .btn,
.navbar-inverse #oa-user-badge .user-badge,
.navbar-inverse #toolbar-menu-button {
  color: @toolbartext;
}
.navbar-inverse .nav > li > a,
.navbar .nav > li > a {
  color: @toolbartext;
  background-color: transparent !important;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  color: @linkactive;
}
.navbar .nav > .active > a:hover,
.navbar .nav > li > a:hover {
  color: @linkhover;
}
ul#oa_breadcrumb a.dropdown-toggle.btn.btn-inverse,
.navbar-inner a.dropdown-toggle.btn {
  background-color: @toolbarbtn !important;
}
#oa-navbar .panel-panel .panel-pane {
  border-color: @toolbarborder ! important;
}
.navbar-inverse ul#oa_breadcrumb .btn.btn-inverse .caret,
.navbar-inner .caret {
border-top: 6px solid @toolbartext;
border-right: 6px solid transparent;
border-left: 6px solid transparent;
}
a {
  color: @link;
}
a:hover,
a:focus {
  color: @linkhover;
}
a:active {
  color: @linkactive;
}
.sidebar .block {
  background-color: @sidebar;
  border-color: @sidebarborders;
}
#page-wrapper,
#footer-wrapper,
body #footer {
  background-color: @footer;
}

#page-wrapper a,
#footer-wrapper a,
body #footer a {
  color: @toolbartext;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: @titleslogan;
}
.oa-banner-overlay,
.oa-banner-slogan-overlay {
  color: @titleslogan;
}
.oa-banner-text,
.oa-banner-slogan {
  color: @titleslogan;
}
.oa-pane .pane-title {
color: @sidebartext;
background-color: @sidebar;
background-image: -moz-linear-gradient(top, @sidebar, @sidebarbottom);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@sidebar), to(@sidebarbottom));
background-image: -webkit-linear-gradient(top, @sidebar, @sidebarbottom);
background-image: -o-linear-gradient(top, @sidebar, @sidebarbottom);
background-image: linear-gradient(to bottom, @sidebar, @sidebarbottom);
}
.oa-pane .panel-pane {
color: @sidebartext;
background-color: @sidebar;
border-color: @sidebarborders;
}
.oa-pane {
border-color: @sidebarborders;
}
#oa-navbar .panel-panel .pane-oa-navigation,
#oa-navbar .panel-panel .pane-oa-space-banner {
background-color: @headerbg;
}
#oa-navbar .panel-panel .pane-oa-navigation .dropdown-menu {
background-color: @headerbg;
}

#oa-navbar .panel-panel .pane-oa-navigation li > a,
#oa-navbar .panel-panel .pane-oa-space-banner li > a{
color: @titleslogan;
}
