.oa-discussion-parent {
  margin-top: 20px;
}

.oa-discussion-parent h2 {
  margin-top: 0;
}

.oa-discussion-parent .oa-description {
  clear: right;
  padding-top: 5px;
}

.node-type-oa-discussion-post div.tabs {
  display: none;
}

.oa-list.oa-discussion-reply .oa-pullout-left {
  padding-top: 13px;
  height: 24px;
}

.oa-discussion-reply h5 {
}

.oa-discussion-reply .oa-reply-body {
  font-size: 14px;
  padding: 8px 5px 0 5px;
}

.oa-discussion-reply .oa-discussion-hide {
  height: 30px;
}

.oa-discussion-reply .oa-discussion-hide:hover {
  background-color: #E0EEFF;
}

.oa-discussion-reply .pull-right {
  padding-left: 5px;
}

.oa-discussion-reply .pull-right + p {
  margin-top: 5px;
}

.page-node-edit.node-type-oa-discussion-post div.tabs {
  display: block;
}

.node-type-oa-discussion-post div.burr-flipped-sidebar {
  margin-top: 20px;
}

.view-display-id-replies .accordion-inner {
  overflow: hidden;
  padding-bottom: 0;
}

.well.current-node {
  border-left: 6px solid #CCC;
}

.pane-oa-discussion-reply .tabledrag-toggle-weight-wrapper {
  display: none;
}

.media-widget .media-item {
  width: auto;
}

.media-widget .media-item img {
  height: auto;
  width: auto;
}

.oa-media-list {
  width: 100%;
}

.oa-media-list {
  border-bottom: 1px solid #e3e3e3;
  margin: 10px -15px 0 -15px;
  padding: 0 15px;
}

.views-row-last .oa-media-list {
  border-bottom: 0;
}

.oa-media-list .item-list li {
  border-bottom: 1px dotted #e3e3e3;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.oa-media-list .item-list li.last {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

#toggle-reply-visibility {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
