#contextual-tabs {
  float: right;
  margin-top: 23px;
}

#contextual-tabs > li {
  display: inline-block;
}

#contextual-tabs .btn span {
  float: left;
  text-indent: -99999px;
  width: 0;
}

#contextual-tabs .item-list ul > li {
  margin-left: 0;
}

#contextual-tabs .dropdown-menu {
  left: auto;
  right: 0;
}
