/**
 * @font-face definitions
 */
@font-face {
 font-family: 'Open Sans';
 font-style: italic;
 font-weight: 700;
 src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/open_sans_700_italic.woff) format('woff');
}
