/**
 * @font-face definitions
 */
@font-face {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 400;
 src: local('Open Sans'), local('OpenSans'), url(../fonts/open_sans_400.woff) format('woff');
}
