/**
 * @font-face definitions
 */
@font-face {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 700;
 src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open_sans_700.woff) format('woff');
}
