body.front {
  background: #E6F8FD;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 98px;
}

body.front #main-wrapper #main,
body.front.panels-ipe #main-wrapper #main {
  background: #E6F8FD;
  padding: 0;
}

body.front #main-wrapper {
  background-color: transparent;
}

body.front #contextual-tabs {
  display: none;
}

body.front #main,
body.front.panels-ipe #main  {
  padding: 0;
  margin: 0;
  width: 100%;
}

body.front #main .container {
  width: 100%;
  margin: 0;
}

body.front #panels-ipe-control-container .panels-ipe-button-container {
  text-indent: -9000px;
  width: 0;
  height: 0;
}

body.front #footer {
  margin-top: 200px;
  overflow: visible;
}

body.front .content .pane-oa-home-default {
  padding: 0;
}

body.front #block-system-help {
  display: none;
}

body.front #footer .top.panel-panel,
body.front #footer .header.panel-panel {
  background: url(images/globe.png) no-repeat center bottom;
  position: absolute;
  top: -218px;
  height: 200px;
  width: 100%;
}

.pane-oa-home-default h2 {
  font-weight: normal;
  color: #442266;
  font-size: 50px;
  line-height: normal;
}

.pane-oa-home-default .big-wrapper {
  /* background: url(images/bg-glow.png) no-repeat top center; */
}

.pane-oa-home-default .hero,
.pane-oa-home-default .modules {
  width: 1055px;
  margin: 0 auto;
  position: relative;
  }

.pane-oa-home-default .user-login .content {
  padding: 20px 30px;
  color: #333;
}

.pane-oa-home-default .hero-right-graphic {
   background: url(images/bg-hero-right.png) no-repeat;
   width: 309px;
   height: 200px;
   position: absolute;
   right: -50px;
   bottom: -23px;
}

.pane-oa-home-default .hero-left-graphic {
   background: url(images/bg-hero-left.png) no-repeat;
   width: 264px;
   height: 330px;
   position: absolute;
   left: -70px;
   bottom: -30px;
}

.pane-oa-home-default .hero h1 {
   color: #333;
    font-family: 'Roboto Slab',serif;
    font-size: 100px;
    font-weight: 100;
    letter-spacing: -0.04em;
    margin: 60px 0 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
  line-height: normal;
}

.pane-oa-home-default .hero h2 {
  color: #255C98;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 10px 0 10px 0;
  font-size: 39px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.44);
  text-align: center;
  line-height: normal;
}

.pane-oa-home-default .hero h2 span {
  color: #fd4e88;
}

.pane-oa-home-default .hero .btn-lg {
  font-size: 24px;
  padding: 15px 25px;
}

.pane-oa-home-default .hero h3 {
  color: #fff;
  text-align: center;
  color: #fd4e88;
   background: url(images/bg-hero-line.png) no-repeat center top;
  font-family: 'Roboto Slab',serif;
  font-weight: 100px;
  padding: 30px 0 52px 0;
  margin: 22px 0;
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.44);
  letter-spacing: 0.03em;
  line-height: normal;
}

.pane-oa-home-default .modules .entry,
.pane-oa-home-default .modules .block {
  text-align: center;
  box-sizing: border-box;
   /* background: url(images/bg-module.png); */
  background: white;
   width: 31%;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  min-height: 420px;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid #ccc;
  }

.pane-oa-home-default .modules .entry-last {
}

.pane-oa-home-default .module-header,
.pane-oa-home-default .modules .block h2 {
  /* background: url(images/bg-module.png); */
  background: #428bca;
  -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
text-align: center;
}

.pane-oa-home-default .module-header h4,
.pane-oa-home-default .modules .block h2 {
  color: #FFF;
  font-family: 'Roboto Slab',serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 15px;
  margin: 0;
  letter-spacing: 0.1em;
  line-height: normal;
}

.pane-oa-home-default .modules .entry a.icon {
  width: 148px;
  height: 148px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
}

.pane-oa-home-default a.icon-got-issues {
  background: url(images/icons-modules.png) no-repeat 0 0;
  }

.pane-oa-home-default a.icon-got-issues:hover {
  background: url(images/icons-modules.png) no-repeat 0 -167px;
  }

.pane-oa-home-default a.icon-documentation{
  background: url(images/icons-modules.png) no-repeat -198px 0;
  }

.pane-oa-home-default a.icon-documentation:hover {
  background: url(images/icons-modules.png) no-repeat -198px -166px;
  }

.pane-oa-home-default a.icon-pros{
  background: url(images/icons-modules.png) no-repeat -413px 0;
  }

.pane-oa-home-default a.icon-pros:hover {
  background: url(images/icons-modules.png) no-repeat -413px -170px;
  }

.pane-oa-home-default .module-content {
  padding: 20px 30px;
  font-weight: 300;
  color: #333;
  background-color: transparent;
  text-align: center;
}

.pane-oa-home-default .module-content p {
  margin: 30px 0 0 0;
  font-size: 16px;
}

.pane-oa-home-default .module-content p a {
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

.pane-oa-home-default .subfooter {
  color: #FFF;
  clear: both;
  /* background: url(images/bg-subfooter.png) repeat-x bottom; */
}

.pane-oa-home-default .form-actions {
  background-color: transparent;
}

.pane-oa-home-default .subfooter-graphic {
  /* background: url(images/bg-subfooter-graphic.png) no-repeat center bottom; */
  background: url(images/globe.png) no-repeat center bottom;
  clear: both;
  height: 200px;
}

@media only screen and (max-width: 768px) {
  .pane-oa-home-default .modules .entry {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1em;
    min-height: 200px;
  }
  .pane-oa-home-default .module-content p {
    text-align: center;
  }
  body.front #footer {
    margin-top: 10px;
  }
  body.front #footer .top.panel-panel,
  body.front #footer .header.panel-panel {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .pane-oa-home-default .hero {
    width: 100%;
  }
  .pane-oa-home-default .hero-left-graphic,
  .pane-oa-home-default .hero-right-graphic,
  .pane-oa-home-default .hero h1,
  .subfooter {
    display: none;
  }
  .hero,
  .entry {
  }
  .pane-oa-home-default .modules {
    width: 100%;
  }
  body.front #main-wrapper {
   background: transparent;
  }
  .pane-oa-home-default .modules .block {
    width: 30%;
    min-width: 300px;
    margin: 30px auto;
    float: none;
  }
}

@media only screen and (min-width: 981px) {
  .pane-oa-home-default .big-wrapper {
    min-height: 500px;
  }
}
