body.front {
  background: #E5EBE6;
  padding: 0;
  margin: 0;
}

body.front #main-wrapper #main,
body.front.panels-ipe #main-wrapper #main {
  background: #E5EBE6;
  padding: 0;
}

body.front #main-wrapper {
  background-color: transparent;
}

body.front #contextual-tabs {
  display: none;
}

body.front #main,
body.front.panels-ipe #main  {
  padding: 0;
  margin: 0;
  width: 100%;
}

body.front #main .container {
  width: 100%;
  margin: 0;
}

body.front #panels-ipe-control-container .panels-ipe-button-container {
  display: none;
}

body.front #footer {
  margin-top: 0px;
  overflow: visible;
}

body.front #push {
}

body.front .content .pane-oa-home-default {
  padding: 0;
  /* needed to keep the sprout background behind the content */
  position: relative;
  z-index: 1;
}

body.front .content .pane-oa-home-default:after {
  display: none !important;
}

body.front #block-system-help {
  display: none;
}

.pane-oa-home-default h2 {
  font-weight: normal;
  color: #442266;
  font-size: 50px;
  line-height: normal;
}

.pane-oa-home-default .big-wrapper {
}

.pane-oa-home-default .hero,
.pane-oa-home-default .modules {
  width: 1055px;
  margin: 0 auto;
  position: relative;
}

.panel-display .oa-responsive-desktop.oa-responsive-region-bottom.oa-responsive-expand.oa-responsive-fixed {
  z-index: 0;
}

.pane-oa-home-default .block .content {
  padding: 20px 30px;
  color: #282F36;
}

.pane-oa-home-default .hero h1 {
   color: #282F36;
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
  line-height: normal;
}

.pane-oa-home-default .hero h1 span {
  color: #6CBE22;
}

.pane-oa-home-default .hero h2 {
  color: #282F36;
  font-weight: 400;
  padding: 0;
  margin: 10px 0 10px 0;
  font-size: 39px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.44);
  text-align: center;
  line-height: normal;
}

.pane-oa-home-default .hero h2 span {
  color: #6CBE22;
}

.pane-oa-home-default .hero .btn-lg {
  font-size: 24px;
  padding: 15px 25px;
}

.pane-oa-home-default .hero .create-btn {
  text-align: center;
  font-weight: 100;
  padding: 30px 0 30px 0;
  margin: 22px 0 0 0;
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.44);
  letter-spacing: 0.03em;
  line-height: normal;
}

.pane-oa-home-default .modules .entry-placeholder,
.pane-oa-home-default .modules .block {
  text-align: center;
  box-sizing: border-box;
  /* background: url(images/bg-module.png); */
  width: 31%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  min-height: 420px;
  margin-left: 1%;
  margin-right: 1%;
}

.pane-oa-home-default .modules .entry,
.pane-oa-home-default .modules .block {
  text-align: center;
  box-sizing: border-box;
   /* background: url(images/bg-module.png); */
  background: white;
   width: 31%;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  min-height: 420px;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid #ccc;
  }

.pane-oa-home-default .modules .entry-last {
}

.pane-oa-home-default .module-header,
.pane-oa-home-default .modules .block h2 {
  /* background: url(images/bg-module.png); */
  background: #008EB0;
  -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
text-align: center;
}

.pane-oa-home-default .module-header h4,
.pane-oa-home-default .modules .block h2 {
  color: #FFF;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 20px;
  margin: 0;
  letter-spacing: 0.1em;
  line-height: normal;
  font-weight: 300;
}

.pane-oa-home-default .modules .entry a.icon {
  width: 148px;
  height: 148px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
}

.pane-oa-home-default .module-content {
  padding: 20px 30px;
  font-weight: normal;
  color: #282F36;
  background-color: transparent;
  text-align: center;
}

.pane-oa-home-default .module-content p {
  margin: 30px 0 0 0;
  font-size: 16px;
}

.pane-oa-home-default .module-content p a {
  font-weight: 700;
  color: #282F36;
  text-decoration: none;
}

.pane-oa-home-default .form-actions {
  background-color: transparent;
}

.pane-oa-home-default .form-actions input {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 767px) {
  .pane-oa-home-default .modules .entry-placeholder {
    display: none;
  }
  .pane-oa-home-default .modules .entry,
  .pane-oa-home-default .modules .block {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1em;
    min-height: 200px;
  }
  .pane-oa-home-default .module-content p {
    text-align: center;
  }
  body.front #footer {
    margin-top: 10px;
  }
  body.front #footer .top.panel-panel,
  body.front #footer .header.panel-panel {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .pane-oa-home-default .hero {
    width: 100%;
  }
  .pane-oa-home-default .hero-left-graphic,
  .pane-oa-home-default .hero-right-graphic,
  .pane-oa-home-default .hero h1,
  .subfooter {
    display: none;
  }
  .hero,
  .entry,
  .entry-placeholder {
  }
  .pane-oa-home-default .modules {
    width: 100%;
  }
  body.front #main-wrapper {
   background: transparent;
  }
}

@media only screen and (min-width: 981px) {
}
