/**
 * Title and body styling
 */
#node-edit #edit-title {
  font-size: 2em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *width: 98%; /* IE 7 and below, as far as I know */
}

#node-edit .form-item-title {
  margin-bottom: 0;
  padding-bottom: .25em;
}

#node-edit .form-item-title label {
  display: none;
}

#node-edit #edit-body .form-type-textarea {
  padding-top: .25em;
}

#node-edit #edit-body {
  width: 100%;
}

/**
 * Pathauto styling
 */
#node-edit .form-item-path-alias label {
  float: left;
  font-weight: 400;
}

#node-edit .form-item-path-alias {
  margin-top: .25em;
  margin-bottom: .25em;
  padding: 0;
  font-size: .8em;
  vertical-align: middle;
  min-height: 1.2em;
}

#node-edit .form-item-path-alias input {
  margin-left: 4px;
  padding-top: 0;
  padding-bottom: 0;
}

#node-edit .form-item-path-pathauto {
  display: none;
}

/**
 * Publishing styling
 */
#node-edit .form-item-machine-name label, 
#node-edit .form-item-date label, 
#node-edit .form-item-name label {
  float: left;
  font-weight: 400;
  margin-right: 5px;
  margin-top: 5px;
}

/**
 * Form action button styling
 */
#node-edit .form-actions input {
  border: 1px solid #ccc;
  margin-bottom: .5em;
  margin-right: 1em;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande',  verdana sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  ); 
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  padding: 0 13px 1px;
}

#node-edit .form-actions input:hover {
  background: #E6E6E6;
  background-image: linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #C5C5C5),
  color-stop(1, #FAFAFA)
  );
}

#node-edit .form-actions input:active {
  outline: none;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
}

#node-edit .image-widget .form-submit, 
#node-edit .file-widget .form-submit {
  border: 1px solid #CCCCCC;
  margin-bottom: 0;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  padding: 0 13px 1px;
}

#edit-content-settings input.form-text {
  width: 98%;
}

#edit-content-settings .link-field-column {
  float: left;
  width: 49%;
}

#edit-content-settings .form-managed-file input {
  float: left;
  margin-top: .5em;
  margin-bottom: .5em;
}

/**
 * Menu Styling
 */
#node-edit .pane-node-form-menu .form-item-menu-parent label,
#node-edit .pane-node-form-menu .form-item-menu-link-title label {
  float: left;
  margin-right: 4px;
  font-weight: normal;
  width: 49px;
}

/**
 * Featured Category Styling
 */
#node-edit .field-name-field-featured-categories>.form-item-field-featured-categories-und>label {
  display: none;
}

/**
 * Featured Image Styling
 */
#node-edit .pane-node-field-featured-image h2 {
  margin-top: 5px;
}

#node-edit .form-item-field-featured-image-und-0-alt label {
  font-weight: normal;
  float: left;
  margin: 4px 10px 0 0;
}

#node-edit #edit-field-featured-image-und-0-alt {
  width: 180px;
}

#node-edit #edit-field-featured-image .form-item-field-featured-image-und-0 > label, 
#node-edit .form-item-field-featured-image-und-0-alt .description {
  display: none;
}

#node-edit .field-name-field-featured-image .image-preview img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0; /* Overrides Bartik's default margin, which is too much */
}

#node-edit .field-name-field-featured-image div.image-widget-data {
  float: none;
}

#node-edit .field-name-field-featured-image .image-widget-data img {
  margin-bottom: 0;
}
  
#node-edit .field-name-field-featured-image .image-widget-data span.file {
  width: 65%;
  margin-right: 5%;
  float: left;
  margin-top: 5px;
}
  
#node-edit .field-name-field-featured-image .image-widget-data img {
  margin-bottom: 0;
}
  
#node-edit .field-name-field-featured-image .image-widget-data span.file-size {
  display: none;
}
  
#node-edit .field-name-field-featured-image .image-widget-data input#edit-field-featured-image-und-0-remove-button {
  max-width: 28%
}
  
#node-edit .field-name-field-featured-image .image-widget-data div.form-item {
  clear: both;
  margin-top: .75em;
  margin-bottom: .25em;
}
  
#node-edit .field-name-field-featured-image .image-preview {
  width: 100%;
}

#node-edit .form-item-field-featured-image-und-0 > label {
  display: none;
}

/** 
 * Date/Time Styling
 */
#node-edit .container-inline-date > .form-item {
  border: 0;
  margin: 0;
}

#node-edit .container-inline-date .date-padding {
  float: none;
  padding: 0;
}

#node-edit .container-inline-date .form-item-date-time, 
#node-edit .container-inline-date .form-item-date-date {
  padding-bottom: 1em;
}

#node-edit .container-inline-date .form-item-date-time {
  clear: left;
}

#node-edit .form-item-date-time label, 
#node-edit .form-item-date-date label, 
#node-edit .form-item-name label {
  width: 49px;
}

#node-edit .container-inline-date .form-item-date-date .description, 
#node-edit .container-inline-date .form-item-date-time .description {
  display: none;
}

/**
 * Media Styles
 */
#media-browser-page {
  background: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

#media-browser-page .content {
  margin-top: 0px;
}

ul#media-browser-library-list {
  margin: 0;
}

#media-browser-tabset .views-exposed-form {
  margin-bottom: 1em;
}

#media-browser-tabset .views-exposed-form .views-exposed-widget {
  float: left;
  margin-right: 15px;
}

#media-browser-tabset .views-exposed-form div.form-item {
  margin: .25em 0;
}

#media-browser-tabset a.button, 
#media-browser-tabset input.form-submit {
  border: 1px solid #ccc;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  margin: 0 18px 0 0;
  padding: 0 13px 1px;
}

#media-browser-tabset .media-browser-tab, 
#media-browser-tabset .ui-tabs-nav {
  border: none;
}

#media-browser-tabset a.button:hover, 
#media-browser-tabset input.form-submit:hover {
  background: #E6E6E6;
  background-image: linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #C5C5C5),
  color-stop(1, #FAFAFA)
  );
}

#media-browser-tabset a.button:active, 
#media-browser-tabset input.form-submit:active {
  outline: none;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
}

#media-browser-tabset .view .item-list .pager li {
  padding: 0;
}

/**
 * Misc
 */
#active-vertical-tab {
  height: 1px; /* fixes a small issue with vertical tabs on the administrative pages */
  overflow: hidden;
}

#views-ajax-body form {
  background-color: #FFF; /* makes sure that our background color is white when ajaxing in views */
}

.form-item-uid {
  position: relative; /* fixes positioning for auto complete items in firefox - http://drupal.org/node/1218684 */
}

/**
 * Navbar Styling
 */
#navbar #navbar-link-admin-panopoly {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsSAAALEgHS3X78AAAC2GlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjajZPLaxRZFIe/6tygkCAMtK9eDJdZSJAklA80Ij7SSWyisW3KRJMgSKf6dneZm+qaW9VxFBHJxqXOMHvxsXDhH+DChSvdKBF8IYh7FUUU3Ki0i+p0V/B5Vl/9zrm/c84tLnTaxSDQKQlzfmScXFZOTk3LFc9IsZ4uMnQV3TAYLBTGAIpBoPkmPj7BAnjY9/38T6OrFLpzYK2E1PuSCl3o+AzUKpNT0yA0kD4ZBRGIc0DaxPr/QHom5utA2ow7QyBuAavcwEQg7gEDbrVYgk4B9FYSNTMJntN1tznPH0C38icOAxsgdVaFI022FkrF4QNAP1ivSmp4BOgF63rZ2zcK9ADPy2bfRMzWRi8aHY85dcTX+bEmr/Nn8oeaniKIss6Sfzh/eGRJP1HcXwAyYDmztQMOsAZSe09Xx4/GbOnT1aF8kx+ZujMB/AWpa4EujMWzpe4whUbh4aPwkTjkyNJHgKFGGQ8PjUcOhY/C4BEy+91KTSHBkhwv8XmJweNv6igkDkfI5lnobTlI+6n9xn5sX7av2a8vZuo97cyCOe65ixfeUUBhWr7NbHOm2N+lxiAaTQXFXGunMDFpYrqyfzHTdnIXL7xT5/MfE1uqRKc+ZlCEzGLwmEehCVEMJrr96PYU+u6ZW+vavR6Lm8cedt89s+yuat9spVpbLf9u1yXPK/Gn2CRGxYDYgRR7xF6xWwyLAbFTjLVOTODjcRKFIaSIxucUctn/W6olfmsApHPKV8ZzpZPLyoKplT2tEk/0F+nfjMmpaRnTdB1uhLB2a1v74GAB1prFthYdhF1voeNBW+vJwOpLcHObWzfzTWvLug+R+icCGKoFp4xXqUZys21vl4NBoJUc9d3+XlnUWhqvUo1CaVSozLwq9ROWt2yOXbqz0Pmi0fiwAVb8B1/+bTQ+XWk0vlyFjudwW38FwLz9RWmE3Y4AAAAgY0hSTQAAbZgAAHOOAADyewAAhNoAAG6UAADlGgAAMycAABkXmUkcfwAABK1JREFUeNrsnU9PMjsUxp92AGOMEf9EXWCiC4MsDCu4bLzvzjXXL+PX8Lu4dXXfmLhwQ+J7N8TElSFRo24gCNPehXQCOAOKdejA8yQm6pD20N+c03Z62hFaaw3KGUk2gVtKRV1QSjlhoBACQojQa1pr2HRwF+oSwyFLax1p1LSkoSEgEI+dGhiuK6T+H7sB+4GYL9lut1Gv14O/19fXY4fw9PQErTW2trawubkZ+pm7uzs8Pj7C8zxsb29PVE+j0YBSClJKHBwcYHFxMfRzrVYLjUYDQggsLCxM/L3a7TaUUshms1hbWxsdspRS8DwPV1dXOD8/RyqVQqfTgZTxdjVaa0gpIaXEX5UK/qlWg0Yzdkop8e/v3/jvzx/4vj+Rxwgh4Ps+0uk0lFKoVCo4OTkZqMuUe3l5iYuLi6CuSaWUQiaTwerqKk5PTz94e2gf4vs+Uqn3S+l0eqrhqtvpjL3med7ko5pew0sp0e12Q28OIQQ6FurqVyfie4Xe+rYqtTIMHGGLbTtDI4GwW5fxrqjy3B/2jggPSZxCmdAUZTvnIZwYUgRCIBSBEAhFIARCEQiBUARCEQiBUARCIFQ8QMJWzqYll2yJQwNLuGbxJJfLYWdnB91uN1hvjlNCiKDOQqEwYNtcATFLmPl8Hvl83ilD5wUI+xCXPaRfrqxXz4tnjAUybw3hvofAEQ8BPWQuG8LZTt3FXCdXvDV2DzE5rbVaLchj9TzvHZIAfrxdenUE8xAB/Pr7F8rlspNZ+T8OxHhHo9HAw8ODEwbe3t7OFRDnc3tdscXWzWCeQESVx4nh+A4MgL1nauZpyGD2ux4/yqIGPWN5eRmtVstaeblcbqjzJJAvNWC5XEahULASupRSAzu1+sskkE8qk8nEsrWPQD7blcS0C5dAvtmA9JApe4nNSXDY4ykCmcJc5MsTQ2p4KhLfszR6yCfClBACtVoN19fX335yYA5m2N3dxfHx8UAdBPIFIPV6HfV63Vq59/f3ARCGrC92vgCsn2ZhDmYgEMdFIARCEQiBUARCIBSBEAhFIARCEYglJTFxbtwiV6KB8MxFx2R772NoeTrGupDQ9RBzlx0eHsL3fUhPTrx9whymbE62Hg6F5vf9/X08Pz9DSvmtUGkWqPb29mYLiNYapVIJpVLJehgcBqK1RrFYRLFY/PG+MLErhqahbGXFmwP3Q99YIAQ0enVZ2MhkbJ65vCybuVLjGjoKlu3RIechjinxSQ6uvHjGlncnHkjcr9Kgh8zg5HBUX5JKKgQhBJrNJs7OzvD6+op0Op0IOFJKNJtNHB0doVqtfhhqJxNIb4j61nnDy8tL5MtYXJR5o8/NzU0AJPGjLDNElUIG28x830+E7WZv4dLS0mwPe13aOTxK5hVSUaNDzkNc62PYBARCEQiBUARCIBSBEAhFIARCEQhFIARCEQiBUAQy70CSnNXhosxKYVT6Uuh/+9enp70pJix5wZxfpbVGJpNJlgf0QDQjjpwdAGIaf2VlJTh/fRpA+je1bGxsfLgxTJJDKpVCdjUL3/ffrwu4/dMD0n57Q6G39eHDd9eMSezUqWgl/h1Us5ZKypDFkEURSIL0/wA6e9BECqO75wAAAABJRU5ErkJggg==);
}

#navbar #navbar-link-admin-apps {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiM3Nzc3NzciIGQ9Ik05LjA5Nyw1My4wMDJjOS40OTksOS41LDIzLjU0MSwxMS41NDQsMzUuMDQyLDYuMjI3bDM3LjYzNCwzNy42MzhjNC4xODEsNC4xODEsMTAuOTUzLDQuMTgxLDE1LjA5LDANCgljNC4xODItNC4xNCw0LjE4Mi0xMC45MSwwLTE1LjA5M0w1OS4yMjcsNDQuMTM5YzUuMzE5LTExLjUsMy4yNzQtMjUuNTQzLTYuMjIzLTM1LjA0MkM0NC41OTcsMC42OTEsMzIuNTUtMS45MDEsMjEuOTYsMS4zNw0KCWwyMy40OTcsMjMuNTAybC00LjQxMiwxNi4wODRsLTE2LjE3NCw0LjUwMUwxLjM3LDIxLjk2Qy0xLjkwMSwzMi41NSwwLjY5MSw0NC41OTcsOS4wOTcsNTMuMDAyeiIvPg0KPC9zdmc+DQo=);
}

#navbar #edit-shortcuts {
  display: none;
}
