// Mixin
// SASS Mixins
// --------------------------------------------------

// Breakpoints
// --------------------------------------------------
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 979px) { @content; }
  }
  @else if $point == mini-tablet {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 480px)  { @content; }
  }
}

// Utilities
// --------------------------------------------------
@mixin clear-shadow() {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
         text-shadow: none;
          box-shadow: none;
}
