#modal-content {
  .panels-add-content-modal {
    .widget-preview {
      position: relative;
      margin: 50px 0;
    }
    .panopoly-magic-preview-link {
      border-bottom: 1px solid#eee;
      padding: 5px 0;
    }
  }
}
