//
// Base HTML elements
// --------------------------------------------------

// This used to be in panopoly_images but was removed and told to put into theme
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
