//
// Layout
// Styles for Forms
// --------------------------------------------------

// General form styles
// --------------------------------------------------
form {
  .form-item {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .btn {
    width: auto;
    height: inherit;
  }
  .button {
    &.fake-ok,
    &.fake-cancel {
      @extend .btn;
      display: inline-block;
      max-width: 60px;
      margin-right: 5px;
    }
    &.fake-ok {
      @extend .btn-primary;
    }
  }
  .form-actions {
    border: 0;
    padding: 0;
    .btn {
      margin-bottom: 10px;
    }
  }
}
.label {
  font-weight: normal;
  background-color: #ddd;
  color: #333;
  a {
    font-weight: normal;
  }
}

// Media Browser
// --------------------------------------------------
#media-browser-tabset {
  h1 {
    font-size: 16px;
  }
  a.button,
  input.form-submit {
    @extend .btn;
    @extend .btn-primary;
  }
}

// Undo media browser button styles from panopoly admin
// --------------------------------------------------
#modal-content .form-submit,
#media-browser-tabset a.button,
#media-browser-tabset form a.button,
#media-browser-tabset input.form-submit,
#media-browser-tabset form input.form-submit,
#modal-content #edit-cancel {
  @extend .btn;
  height: auto;
  font-weight: normal;
  display: inline-block;
  &:hover {
    color: white;
    background-color: #0044cc;
    background-image: none;
  }
}
#modal-content .form-submit,
#media-browser-tabset input.form-submit,
#media-browser-tabset form input.form-submit {
  @extend .btn-primary;
}
#modal-content {
  .form-item {
    clear: both;
  }
  .form-submit {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
  }
}
#media-tabs-wrapper ul.ui-tabs-nav {
  margin-bottom: 0;
}
#media-browser-tabset {
  .views-exposed-form {
    .views-submit-button {
      margin-top: 30px;
    }
    .views-exposed-widget {
      margin-right: 0;
    }
  }
  #edit-filename-wrapper {
    width: 200px;
  }
  form select {
    width: 100%;
  }
  input.form-file,
  span.file {
    margin-right: 10px;
  }
}

// Node edit form
// --------------------------------------------------
#node-edit {
  .burr-flipped-sidebar .panel-pane {
    border: 0;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 0;
    padding: 15px;
    background: transparent;
    @include box-shadow(none);
    @include border-radius(0);
    .pane-content {
      padding: 0;
    }
  }
  .panel-pane {
    &.pane-node-field-oa-group-ref,
    &.pane-node-field-oa-team-ref,
    &.pane-node-field-oa-user-ref {
      @include border-radius(0);
      @include box-shadow(none);
    }
    &.pane-node-field-oa-group-ref {
      margin-bottom: 0;
      border-bottom: 0;
    }
    &.pane-node-field-oa-team-ref {
      margin-bottom: 0;
      margin-top: 0;
      border-bottom: 0;
      border-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    &.pane-node-field-oa-user-ref {
      border-top: 0;
      margin-top: 0;
    }
  }
  .container-inline-date {
    .date-padding {
      padding: 0;
    }
    .form-item-date-time,
    .form-item-date-date {
      padding-bottom: 0.5em;
    }
  }
  .form-actions {
    background: transparent;
    input {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      @extend .btn-primary;
      &:hover {
        color: white;
        background-color: #0044cc;
        background-image: none;
      }
    }
  }
}

// Views exposed form
// --------------------------------------------------
.views-exposed-form {
  .well {
    padding: 0 1em;
  }
  .filter-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.view-filters form {
  margin: 0;
}
.views-exposed-widget.views-submit-button {
  padding-right: 5px;
}

// Discussion quick reply
// --------------------------------------------------
#oa-discussion-reply-form {
  position: relative;
  .form-item {
    margin: 0;
  }
  input#edit-subject {
    width: 75%;
  }
  .field-name-field-oa-discussion-media {
    position: relative;
    .tabledrag-toggle-weight-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
    }
    .media-item {
      img {
        display: block;
        margin: auto;
        width: auto;
      }
      .file a {
        display: none;
      }
    }
  }
  #edit-submit {
    position: absolute;
    bottom: 2px;
    right: 0;
  }
}
.checkbox-table {
  .center {
    text-align: center;
  }
  .form-type-checkbox,
  .space-label {
    margin: 0.4em 0;
  }
}
