//
// Styles for OA Navbar
// --------------------------------------------------
.navbar-fixed-top, .navbar-fixed-bottom {
  z-index: 1000; /* needs to be less than 1001 which is panelizer popup dialog */
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #0081c2;
  color: white;
}

.panels-add-content-modal .nav > li > a:hover, .panels-add-content-modal .nav > li > a:focus {
  // override important in panels_dnd.css
  color: white !important;
}

.drupal-navbar .navbar-tray {
  z-index: 1000;
}

.drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
  display: none !important;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: auto;
}

#admin-menu, #admin-menu .dropdown {
  z-index: 1001;
}

.pane-bundle-command-buttons .command-buttons li > a.btn {
  margin: 2px 0;
}

#oa-navbar {
  position: fixed;
  top: 0;
  min-height: 44px;
  .navbar-inner {
    border: 0;
    padding: 0;
    .btn {
      margin: 0;
    }
  }
  .panel-panel-inner {
    min-height: 0;
  }
  .panel-panel {
    @include box-sizing("border-box");
    padding: 0;
    //    padding: 0 20px;
    margin: 0 0 0 -5px;
    min-height: 0;
    .panel-pane {
      margin: 0 0 0 5px;
      padding: 5px 0;
    }
    .pane-oa-navigation {
      width: 100%;
      border-bottom: 1px solid #676767;
      padding: 5px $gridGutterWidth 0;
      background-color: #003853;
      .oa-menu-banner {
        padding-bottom: 0;
      }
      .pane-content {
        ul.nav {
          > li {
            > a {
              padding: 6px 15px 6px;
            }
          }
        }
      }
    }
    .pane-oa-mobile {
      width: 100%;
      padding: 0 $gridGutterWidth 0;
      background-color: #003853;
      .oa-menu-banner {
        padding-bottom: 0;
      }
      .pane-content {
        ul.nav {
          > li {
            > a {
              padding: 6px 15px 6px;
            }
          }
        }
      }
    }
    .pane-oa-toolbar-oa-toolbar-menu-button {
      z-index: 100;
    }
    .pane-oa-toolbar-oa-breadcrumb {
      margin-top: -5px;
      margin-bottom: -5px;
      float: none !important;
      border-bottom: solid 1px #333;
      ul.oa_toolbar {
        margin: 0;
        padding: 0;
        li.btn-group {
          margin: 0;
          height: 42px;
          > .btn {
            font-size: 16px;
            height: 32px;
            line-height: 32px;
            float: left;
            background: none;
            border: 0;
            @include border-radius(0);
            @include box-shadow(none);
            &:hover {
              background: none;
            }
            &.btn-home {
              font-size: 24px;
            }
          }
          > .dropdown-toggle {
            height: 25px;
            line-height: 25px;
            margin: 5px 10px 5px 0;
            padding: 4px 8px 30px 8px;
            background: $grayDark;
            @include border-radius(3px);
            &:hover {
              background: $grayDark;
            }
            .caret {
              vertical-align: middle;
              margin: 0;
              border-top: 6px solid $white;
              border-right: 6px solid transparent;
              border-left: 6px solid transparent;
            }
          }
          &:after {
            content: url("../images/menu-divider.png");
            width: 10px;
            height: 42px;
            display: inline-block;
          }
          ul.dropdown-menu {
            li {
              h3 {
                font-size: 1.2em;
                margin: 0;
              }
              a.more-link {
                font-style: italic;
              }
            }
          }
        }
      }
      @include breakpoint('md') {
        float: left !important;
        border-bottom: none;
      }
      @include breakpoint('lg') {
        float: left !important;
        border-bottom: none;
      }
    }
    .pane-oa-favorites-favorites-button {
      ul#oa_favorites {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
        }
      }
    }
    .pane-oa-tour-custom-pane {
      ul#oa_tours {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
        }
      }
    }
    .pane-oa-toolbar-search {
      //float: left !important;
      [name=searchOptions] {
        position: relative;
      }
      form {
        margin: 0;
        .input-append {
          margin: 0;
        }
        .search-text {
          width: 150px;
          height: 31px;
        }
        .btn-group {
          .btn {
            float: left;
            clear: none;
          }
        }
      }
      @include breakpoint('md') {
        float: right !important;
      }
      @include breakpoint('lg') {
        float: right !important;
      }
    }
    ul.command-button-wrapper {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
      }
      .btn {
        position: relative;
        text-indent: -9999em;
        line-height: 2px;
        .caret {
          background: transparent url("../images/navbar-icons.png") no-repeat 2px -1px;
          margin: 0;
          width: 18px;
          height: 18px;
          border: 0;
          display: block;
        }
      }
    }
    .pane-oa-space-banner {
      clear: both;
      padding-bottom: 0;
      margin-top: -5px;
      margin-right: -5px;
      background-color: #003853;
    }
    .pane-oa-toolbar-oa-user-badge {
      .oa-dropdown {
        margin: 0;
        #user-badge-dropdown {
          overflow: hidden;
          img {
            width: auto;
            height: 29px;
            margin: -5px -12px -5px 5px;
          }
        }
      }
    }
  }
}

// Open Atrium Navbar
// --------------------------------------------------

body.admin-menu #oa-navbar {
  top: 25px;
}

#main-wrapper {
  @include breakpoint('xs') {
    .oa-banner {
      display: none;
    }
  }
}

// OA Space Menu
.navbar.oa-space-menu {
  margin-bottom: 0;
  background: transparent;
  border: 0;
  min-height: 40px;
  .navbar-inner {
    border: 0;
    padding: 0;
    min-height: 40px;
    @include border-radius(0);
    li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

// OA Responsive Navbar
// --------------------------------------------------
#oa-responsive-regions-navbar {
  .navbar-inner {
    .btn-top {
      float: left;
      &.btn-active {
        @include transform(none);
      }
    }
  }
}

//OA Mobile Menu Makeover
// --------------------------------------------------
@media (max-width: 767px) {
  #oa-navbar {
    .dropdown-menu {
      float: left;
      position: static;
    }
    #oa-user-badge {
      .dropdown {
        width: 262px;
        float: left;
      }
      .dropdown-toggle {
        width: 100%;
      }
    }
    #oa_breadcrumb {
      vertical-align: top;
      .oa-breadcrumb {
        width: 100%;
        height: auto;
      }
    }
    .oa-navigation {
      .main-menu {
        .navbar-nav {
          width: 100%;
        }
      }
    }
    .moscone-footer {
      display: none;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      width: 100%;
    }
  }
  #oa-responsive-regions-navbar {
    display: none;
  }
}

@media (max-width: 480px) {
  .responsive-panels-region.responsive-panels-region-top {
    position: static;
    height: auto;
  }
}

.navbar-toggle {
  margin-right: 8px;
  &.spaces {
    padding-top: 8px;
    padding-bottom: 8px;
    .fa-square {
      font-size: 8px;
      &.odd {
        float: left;
      }
      &.even {
        float: right;
      }
      &.first,
      &.third {
        margin-right: 2px;
      }
      &.third {
        clear: both;
      }
    }
  }
  &.admin {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 8px;
    float: left;
    .fa-drupal {
      font-size: 16px;
    }
  }
  &.search {
    padding-top: 6px;
    padding-bottom: 6px;
    .fa-search {
      font-size: 16px;
    }
  }
  &.user {
    padding: 1px 6px;
  }
}

@media (max-width: 767px) {
  .navbar-lining,
  .admin-mobile-menu,
  .spaces-mobile-menu,
  .search-mobile-menu,
  .user-mobile-menu {
    display: none;
  }
  #oa-navbar-admin {
    max-height: none;
    padding: 0;
    .expanded {
      ul {
        display: none;
      }
      &.open {
        > ul {
          display: block;
        }
        button {
          &:before {
            content: "\f0d8";
          }
        }
        .navbar-box {
          border-bottom: 1px solid rgba(#fff, .1);
        }
        li {
          a {
            padding-left: 20px;
          }
          li {
            a {
              padding-left: 40px;
            }
          }
        }
      }
      > div > button {
        border: none;
        background: #003853;
        padding: 5px 11px;
        position: absolute;
        right: 0;
        top: 0;
        &:before {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f0d7";
        }
        &:hover {
          background-color: #333333;
        }
        span {
          display: none;
        }
      }
    }
    li {
      position: relative;
      border-bottom: 1px solid rgba(#fff, .1);
      &:last-child {
        border: none;
      }

      a {
        padding: 5px;
        display: block;
        &:hover {
          background-color: #333333;
          text-decoration: none;
        }
      }
    }
  }
  #oa-navbar-search {
    padding: 0;
    form {
      float: right;
      clear: none;
      width: 100%;
      margin-left: -130px;
      padding-left: 130px;
    }
    ul,
    button {
      float: left;
      margin-right: 3px;
      clear: none;
    }
    .search-text {
      margin-right: -73px;
      vertical-align: top;
    }
  }
  #oa-navbar-spaces {
    padding: 0;
    ul.dropdown-menu a:hover {
      background-color: #333333 !important;
      background-image: none !important;
    }
  }
  #oa_breadcrumb {
    li {
      position: relative;
      a {
        width: 100%;
        background: none;
        text-align: left;
        &.dropdown-toggle {
          border: none;
          background: #003853 !important;
          padding: 5px 11px;
          position: absolute;
          right: 0;
          top: 0;
          width: auto;
          z-index: 10;
          &:hover {
            background-color: #333333;
          }
        }
        &:hover {
          background-color: #333333;
        }
      }
      .dropdown-menu {
        width: 100%;
        border: none;
        box-shadow: none;
      }
    }
  }
  #oa-navbar-header {
    padding: 0;
    .main-menu {
      width: 100%;
      a {
        &:hover {
          background-color: #333333 !important;
        }
      }
      .dropdown-toggle {
        span {
          float: right;
          margin-top: 8px;
        }
      }
      .dropdown-menu {
        width: 100%;
        float: none;
      }
    }
  }
  #oa-navbar-user {
    padding: 0;
  }
}
