/* Edit form styling for search results */

.view-oa-user-search .oa-pull-left img {
  width: 90px;
}

.toolbar-search .form-control {
  width: auto;
}

.toolbar-search .btn {
  background: transparent;
}

.toolbar-search form .btn {
  clear: none;
}

