<div class="oa-pane ">
  <div class="panel-pane">
    <h3 class="pane-title">Sidebar Block</h3>
    <div class="pane-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
    </div>
  </div>
</div>
