//
// Layout
// Styles for Forms
// --------------------------------------------------

.form-actions {
  border: 0;
  padding: 0;
}

.form-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
form .btn {
  width: auto;
  height: inherit;
}
form .button.fake-ok,
form .button.fake-cancel {
  @extend .btn;
  display: inline-block;
  max-width: 60px;
  margin-right: 5px;
}
form .button.fake-ok {
  @extend .btn-primary;
}
#media-browser-tabset a.button,
#media-browser-tabset input.form-submit {
  @extend .btn;
}
#media-browser-tabset input.form-submit {
  @extend .btn-primary;
}
#media-browser-tabset h1 {
  font-size: 16px;
}

// undo media browser button styles from panopoly admin
#modal-content .form-submit,
#media-browser-tabset a.button,
#media-browser-tabset form a.button,
#media-browser-tabset input.form-submit,
#media-browser-tabset form input.form-submit,
#modal-content #edit-cancel {
  @extend .btn;
  height: auto;
  font-weight: normal;
  display: inline-block;
  &:hover {
    color: white;
    background-color: #0044cc;
    background-image: none;
  }
}

#modal-content .form-submit,
#media-browser-tabset input.form-submit,
#media-browser-tabset form input.form-submit {
  @extend .btn-primary;
}

#modal-content {
  .form-item {
    clear: both;
  }
  .form-submit {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
  }
}
#media-tabs-wrapper ul.ui-tabs-nav {
  margin-bottom: 0;
}
#media-tabs-wrapper .ui-tabs .ui-tabs-nav li.ui-state-default {

}
#media-tabs-wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-selected {

}
#media-browser-tabset .views-exposed-form .views-submit-button {
  margin-top: 30px;
}
#media-browser-tabset .views-exposed-form .views-exposed-widget {
  margin-right: 0;
}
#media-browser-tabset #edit-filename-wrapper {
  width: 200px;
}
#media-browser-tabset form select {
  width: 100%;
}

#media-browser-tabset input.form-file,
#media-browser-tabset span.file {
  margin-right: 10px;
}

#node-edit .burr-flipped-sidebar .panel-pane {
  border: 0;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 0;
  padding: 0;
  background: transparent;
  @include box-shadow(none);
  @include border-radius(0);
}

#node-edit .container-inline-date .form-item-date-time, #node-edit .container-inline-date .form-item-date-date {
  padding-bottom: 0.5em;
}

#node-edit .form-actions {
  background: transparent;
  input {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    @extend .btn-primary;
    &:hover {
      color: white;
      background-color: #0044cc;
      background-image: none;
    }
  }
}

.panel-pane {
  position: relative;
}

.views-exposed-form .well {
  padding: 0 1em;
}

.views-exposed-form .filter-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.view-filters form {
  margin: 0;
}

.views-exposed-widget.views-submit-button {
  padding-right: 5px;
}

// Discussion quick reply
#oa-discussion-reply-form {
  position: relative;
  .form-item {
    margin: 0;
  }
  input#edit-subject {
    width: 75%;
  }
  .field-name-field-oa-discussion-media {
    position: relative;
    .tabledrag-toggle-weight-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
    }
    .media-item {
      img {
        display: block;
        margin: auto;
        width: auto;
      }
      .file a {
        display: none;
      }
    }
  }
  #edit-submit {
    position: absolute;
    bottom: 2px;
    right: 0;
  }
}

.checkbox-table {
  .center {
    text-align: center;
  }
  .form-type-checkbox,
  .space-label {
    margin: 0.4em 0;
  }
}
