

/**
 * Get the fieldset to look like a field label.
 */
.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate .form-group {
  margin-bottom: 0;
}

.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate .help-block {
  display: none;
}

.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate fieldset {
  border: 0;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate fieldset legend {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 5px;
  background-color: transparent;
}

.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate fieldset legend > .panel-title {
  font-size: 14px;
  font-weight: bold;
}

.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate fieldset > .panel-body {
  padding: 0;
}

/**
 * Get the date and time fields to fit side by side.
 */
.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate .container-inline-date .date-padding {
  padding: 0;
}
.group-oa-worktracker-task-info .form-item-field-oa-worktracker-duedate-und-0-value-date,
.group-oa-worktracker-task-info .form-item-comment-alter-field-oa-worktracker-duedate-und-0-value-date {
  width: 60%;
}
.group-oa-worktracker-task-info .form-item-field-oa-worktracker-duedate-und-0-value-time,
.group-oa-worktracker-task-info .form-item-comment-alter-field-oa-worktracker-duedate-und-0-value-time {
  width: 40%;
}
.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate .container-inline-date .form-item .form-item input {
  width: 95%;
}

/**
 * Hide the Date and Time labels from everything except for screen readers.
 *
 * Code stolen from .element-invisible.
 */
.group-oa-worktracker-task-info .field-name-field-oa-worktracker-duedate label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

