#oa_favorites {
  margin: 0;
  margin-top: 10px;
}
.pull-right #oa_favorites {
  margin-right: 5px;
}
.pull-left #oa_favorites {
  margin-left: 5px;
}
#oa_favorites a.dropdown-toggle {
  font-size: 16px;
}
/* styles for flag button in favorites dropdown */
#oa_favorites .flag {
  width: 100%;
  border: none;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #000;
  padding: 0;
  margin: 0;
  text-shadow: none;
  text-align: left;
}
#oa_favorites .oa-is-favorite .icon-star {
  color: gold;
}
#oa_favorites .flag:hover {
  color: white;
  background-color: #08c;
}
/* hide flag throbber to clean up dropdown */
#oa_favorites .flag-throbber {
  display: none;
}
#oa_favorites .flag-wrapper {
  padding: 0 5px;
}
