// Mixin
// SASS Mixins
// --------------------------------------------------

// Breakpoints
// --------------------------------------------------
@mixin breakpoint($point) {
  @if $point == lg {
    @media (min-width: $desktopMin) { @content; }
  }
  @else if $point == md {
    @media (min-width: $tabletMin) and (max-width: $tabletMax) { @content; }
  }
  @else if $point == sm {
    @media (min-width: $mobileMin) and (max-width: $mobileMax) { @content; }
  }
  @else if $point == xs {
    @media (max-width: $mobileMin - 1)  { @content; }
  }
}

// Utilities
// --------------------------------------------------
@mixin clear-shadow() {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
         text-shadow: none;
          box-shadow: none;
}

// Gradients
@mixin ctb-gradient-vertical($startColor: #555, $endColor: #333) {
  background-color: mix($startColor, $endColor, 62.5%);
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{darken($startColor, 1%)}', endColorstr='#{darken($endColor, 1%)}', GradientType=0); // IE9 and down
}

// Clearfix - DO NOT REMOVE
// Includes the has-layout part from compass without the overflow hidden
// and the pseudo classes from bootstrap, otherwise all drop menus get clipped.
@mixin clearfix {
  @include has-layout;
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
