.oa_powered_link {
  display: inline-block;
  background: url("images/atrium.png") no-repeat 105px 0px;
  width: 231px;
  height: 53px;
  font-size: 12px;
  padding: 24px 10px 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.oa_powered_link:hover {
  text-decoration: none;
}
