
#navbar,
#navbar * {
  text-align: right;
}
#navbar ul li {
  float: right;
}
#navbar ul li a {
  display: inline-block;
  float: none;
  zoom: 1;
}
#navbar-user {
  float: left;
}
#navbar #navbar-user li {
  float: none;
  display: inline;
}
#navbar-menu {
  float: none;
}
#navbar-home {
  float: right;
}
