// View
// Styles for Views
// --------------------------------------------------
table thead th {
  background-color: #eee;
}

.filter-btn .btn {
  border: 1px solid rgb(127, 127, 127);
  border: 1px solid rgba(127, 127, 127, .3);
}
